appdirs==1.4.4
appnope==0.1.2
asgiref==3.3.1
attrs==19.1.0
backcall==0.1.0
bleach==3.1.4
certifi==2019.3.9
click==7.1.2
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.5
dlib==19.22.99
entrypoints==0.3
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.0.12
Flask==2.0.1
gunicorn==20.1.0
imageio==2.5.0
ipykernel==5.1.1
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==2.0.1
jedi==0.13.3
Jinja2==3.0.1
joblib==1.0.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.1.0
MarkupSafe==2.0.1
matplotlib==3.3.3
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nltk==3.5
notebook==5.7.8
numpy==1.19.3
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.1.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.14.0
ptyprocess==0.6.0
Pygments==2.4.2
pymdptoolbox==4.0b3
pyparsing==2.4.0
PyQt5==5.15.2
PyQt5-sip==4.19.24
pyrsistent==0.15.2
python-dateutil==2.8.0
pytz==2020.5
PyWavelets==1.1.1
pyzmq==20.0.0
qtconsole==4.5.1
regex==2020.11.13
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.0
Send2Trash==1.5.0
six==1.12.0
sqlparse==0.4.1
TBB==0.1
terminado==0.8.2
testpath==0.4.2
threadpoolctl==2.1.0
tifffile==2021.1.14
tornado==6.0.2
tqdm==4.56.0
traitlets==4.3.2
virtualenv==20.4.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==2.0.1
widgetsnbextension==3.4.2
